@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.chiros-lantern {
  width: 600px;
  padding: 300px 0 0 0; /* (top, right, bottom, left) */
  border: 5px solid #141936;
  border-radius: 300px 300px 0 0;
  background: url('https://f2.toyhou.se/file/f2-toyhou-se/images/109597043_Lu6AqRPFqkdNizT.png') no-repeat center top;
  background-size: 600px auto;
  background-color: #b3bad9;
  box-sizing: border-box;
  position: relative;
}

.chiros-lantern-inner {
  border-width: 2px 2px;
  border-style: solid;
  border-image: linear-gradient(to top, #141936 60%, transparent 100%) 1;
  padding: 24px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  color: #000;
  background: rgba(179,186,217,0.95);
  border-radius: 120px 0 0 0;
}

.chiros-lantern-inner b {
  color: #141936;
  font-weight: 700;
}

.chiros-lantern-credit {
  display: block;
  color: #141936;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  margin-top: 8px;
  letter-spacing: 1px;
  opacity: 0.7;
}
