.expo-christmas-wrap {
  width: 400px;
  padding: 20px;
  border: 5px solid #d69794;
  border-radius: 600px 600px 0 0;
  background-color: #3e3936;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.expo-christmas-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 425px;
  background: url('https://cdn.discordapp.com/attachments/1313688234575790121/1377949566715822110/Expo.webp?ex=6840c1c9&is=683f7049&hm=8cfe4b3db7256b9c74ba43719916b73f1e4fb38704dd9aa698f4081137d74b4d&') no-repeat center top;
  background-size: cover;
  top: -25px;
  z-index: 1;
}

.expo-christmas-inner {
  position: relative;
  border: 2px solid #9dac97;
  border-image: linear-gradient(to bottom, #9dac97 15%, transparent) 1;
  padding: 20px;
  margin-top: 385px;
  text-align: justify;
  font-size: 14px;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
  color: #d69794;
  z-index: 2;
}

.expo-christmas-inner b {
  color: #9266ad;
}
