@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mags-davey1-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.mags-davey1-image {
  width: 600px;
  height: auto;
  background: url('https://images2.imgbox.com/1f/5c/ElZxY8wZ_o.png') no-repeat center top;
  background-size: contain;
  margin-left: -25px;
  display: block;
  padding: 0;
  margin-bottom: -10px;
  line-height: 0;
}

.mags-davey1-text {
  width: 65%;
  margin: 10px auto 0 auto;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #30231d;
  background-color: #fdf5e7;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.mags-davey1-text b {
  color: #c26c3e;
  font-weight: bold;
}

.mags-davey1-credit {
  text-align: center;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
  margin-top: 6px;
}
