@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mags-davey1-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; 
  position: relative;
}

.mags-davey1-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; /* ensures float containment */
  position: relative;
}

.mags-davey1-text {
  clear: both;
  width: 65%;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #30231d;
  background-color: #fdf5e7;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: justify;
}

.mags-davey1-text b {
  color: #c26c3e;
  font-weight: bold;
}

.mags-davey1-credit {
  text-align: center;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
  margin-top: 6px;
}
