@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.mercy-2-wrapper {
  width: 580px;
  margin: 0 auto;
  background-color: #f4f1eb;
  border: 2px solid #8a7563;
  box-sizing: border-box;
  font-family: 'Special Elite', serif;
  color: #3a2c2a;
}

.mercy-2-image {
  background-image: url('https://i.imgur.com/FfUPGWF.png');
  background-size: cover;
  background-position: right center;
  height: 250px;
  border-bottom: 2px solid #8a7563;
}

.mercy-2-inner {
  padding: 20px;
  text-align: justify;
  font-size: 14px;
  line-height: 160%;
  background-color: #e3f8ee;
}

.mercy-2-inner b {
  color: #6e3e3e;
  font-weight: bold;
}

.mercy-2-credit {
  font-size: 10px;
  font-family: 'Special Elite', serif;
  text-align: center;
  color: #999;
  margin-top: 6px;
}
