@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');

.mercy-1-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.mercy-1-image {
  width: 100%;
  height: 450px;
  background: url('https://images2.imgbox.com/9c/1b/C1M5N8AL_o.png') no-repeat center top;
  background-size: contain;
}

.mercy-1-text {
  padding: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  line-height: 1.7;
  color: #2e2e2e;
  background-color: #6ae189;
  border-radius: 0 0 16px 16px;

.mercy-1-text b {
  font-family: 'Playfair Display', serif;
  color: #503e2c;
  font-weight: bold;
}

.mercy-1-credit {
  text-align: center;
  font-size: 10px;
  font-family: 'Cormorant Garamond', serif;
  color: #aaa;
  margin-top: 6px;
}
