@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mochi-hanahaki-container {
  width: 600px;
  padding: 20px 20px 825px 20px;
  border: 3px solid #880808;
  border-radius: 0 0 300px 300px;
  background-color: #bfa4ed;
  background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/images/88244792_07VWA2XSrnj54n7.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 600px auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.mochi-hanahaki-inner {
  border-width: 2px 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #880808 15%, transparent) 1;
  padding: 20px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.mochi-hanahaki-inner b {
  color: #880808;
  font-weight: bold;
}

.mochi-hanahaki-credit {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: #555;
}
