@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

.mod-bleh-container {
  width: 450px;
  padding: 20px;
  border: 3px solid #210148;
  border-radius: 300px 300px 0 0;
  background-color: rgba(26, 1, 57, 0.75);
  position: relative;
  margin: 100px auto 0 auto;
  box-sizing: border-box;
  overflow: visible;
}

.mod-bleh-image {
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -300px; /* half of the image width */
  width: 600px;
  height: 525px;
  background: url('https://f2.toyhou.se/file/f2-toyhou-se/images/78867143_AIrBFg2ddnBikpT.png?1712381111') no-repeat center top;
  background-size: cover;
  z-index: 1;
}

.mod-bleh-inner {
  position: relative;
  margin-top: 415px;
  border: 2px solid #69359c;
  border-image: linear-gradient(to bottom, #210148 15%, transparent) 1;
  padding: 25px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #eedeff;
  background-color: transparent;
  z-index: 2;
}

.mod-bleh-inner b {
  color: #9876c0;
  font-weight: bold;
}

.mod-bleh-credit {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: #aaa;
}
