@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.mod-smirky-block {
  max-width: 460px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.mod-smirky-image {
  width: 260px;
  height: 260px;
  background: url('https://f2.toyhou.se/file/f2-toyhou-se/images/78867405_xCDYkktQqDQfw6q.png?1712381138') no-repeat center center;
  background-size: cover;
  margin: 0 auto -20px auto;
  display: block;
}

.mod-smirky-box {
  background-color: #2c243a;
  border: 2px solid #9e8ea1;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(158, 142, 161, 0.25);
  padding: 20px;
  text-align: justify;
  color: #ffffff;
}

.mod-smirky-inner {
  font-size: 14px;
  line-height: 1.5;
}

.mod-smirky-inner b {
  color: #ffc1e3;
  font-weight: 700;
}

.mod-smirky-credit {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: #aaa;
}
