@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

.mod-smirky-container {
  width: 600px;
  padding: 20px;
  border: 3px solid #69359c;
  border-radius: 600px 600px 0 0;
  background-color: #ebe8fc;
  margin: 0 auto;
  box-sizing: border-box;
}

.mod-smirky-image {
  width: 600px;
  height: 345px;
  background: url('https://f2.toyhou.se/file/f2-toyhou-se/images/78867405_xCDYkktQqDQfw6q.png?1712381138') no-repeat center top;
  background-size: 600px auto;
}

.mod-smirky-inner {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #69359c 15%, transparent) 1;
  padding: 25px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #000000;
}

.mod-smirky-inner b {
  color: #69359c;
}

.mod-smirky-credit {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: #aaa;
}
