@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pumpken25 {
  width: 600px;
  padding: 24px 24px 340px 24px;
  border: 5px solid #ff7518;
  border-radius: 0 0 300px 300px;
  background: url('https://f2.toyhou.se/file/f2-toyhou-se/images/109596238_TjP56jhpYtMX5Zy.png') no-repeat center bottom;
  background-size: 800px auto;
  background-color: #121A21;
  box-sizing: border-box;
  position: relative;
}

.pumpken25-inner {
  border-width: 2px 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ff7518 60%, transparent 100%) 1;
  padding: 24px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: rgba(18,26,33,0.25);
}

.pumpken25-inner b {
  color: #ff7518;
  font-weight: 700;
}

.pumpken25-credit {
  display: block;
  color: #ff7518;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  margin-top: 8px;
  letter-spacing: 1px;
  opacity: 0.7;
}
