.ursus-moon-container {
  width: 90%;
  max-width: 650px;
  margin: 30px auto;
  background-color: #0a0a13;
  border: 2px solid #555577;
  border-radius: 80px 80px 20px 20px;
  overflow: hidden;
  font-family: 'Tajawal', sans-serif;
  color: #e6e6f9;
  box-shadow: 0 0 20px rgba(80, 80, 120, 0.4);
}

.ursus-moon-header {
  height: 240px;
  background: url('https://images2.imgbox.com/c5/64/69HFcURZ_o.gif') no-repeat center top;
  background-size: cover;
  background-color: #111123;
  border-bottom: 2px solid #444466;
}

.ursus-moon-inner {
  padding: 30px;
  background-color: #0a0a13;
  z-index: 2;
}

.ursus-moon-inner p {
  margin-bottom: 1em;
}

.ursus-moon-inner b {
  color: #b3a1ff;
}

.ursus-moon-credit {
  text-align: center;
  font-size: 10px;
  color: #8888aa;
  margin-top: 10px;
}
